<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <title>Admin Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.3.1/css/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/dropzone/5.2.0/basic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/dropzone/5.2.0/dropzone.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/ekko-lightbox/5.2.0/dist/ekko-lightbox.css}"/>


    <link rel="stylesheet" th:href="@{/css/admin/admin.css}"/>
</head>
<body>

<nav th:fragment="header" class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/admin/">Produktkonfigurator</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <a class="btn btn-default" href="/" target="_blank">Visit Website</a>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav  ml-auto ml-md-0">

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div th:fragment="test" id="wrapper">

    <!-- Sidebar -->
    <ul th:fragment="sidebar" class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        <li class="nav-item">
            <a class="nav-link" href="/admin/products">
                <i class="fas fa-fw fa-object-group"></i>
                <span>Produkte</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/media">
                <i class="fas fa-images"></i>
                <span>Media</span></a>
        </li>

    </ul>


    <!-- Breadcrumbs-->
    <ol th:fragment="breadcrumb(link,page)" class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <a th:if="${link}" th:text="${page}" th:href="@{'/admin/'+${link}}"></a>
            <span th:unless="${link}" th:text="${page}"></span>
        </li>
    </ol>



    </div>
</div>

<!-- /.container-fluid -->

<!-- Sticky Footer -->
<footer th:fragment="footer" class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2018</span>
        </div>
    </div>
</footer>

</div>
<!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Scroll to Top Button-->
<a th:fragment="scrolltotop" class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<div th:fragment="js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-easing/1.3/jquery.easing.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/tinymce/4.7.9/jquery.tinymce.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/tinymce/4.7.9/tinymce.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/dropzone/5.2.0/dropzone.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/ekko-lightbox/5.2.0/dist/ekko-lightbox.js}"></script>

    <script th:src="@{/js/admin/sb-admin.min.js}"></script>
    <script th:src="@{/js/admin/admin.js}"></script>
</div>

</body>
</html>