<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="admin/adminlayout :: head"></head>

<body id="page-top">
<nav th:replace="admin/adminlayout :: header"></nav>
<div id="wrapper">
    <div th:replace="admin/adminlayout :: sidebar"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol th:replace="admin/adminlayout :: breadcrumb(null,'Overview')"></ol>

        </div>
    </div>
    <footer th:replace="admin/adminlayout :: footer"></footer>
</div>
<a th:replace="admin/adminlayout :: scrolltotop"></a>
<div th:replace="admin/adminlayout :: js"></div>

</body>
</html>