<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="admin/adminlayout :: head"></head>

<body id="page-top">
<nav th:replace="admin/adminlayout :: header"></nav>
<div id="wrapper">
    <div th:replace="admin/adminlayout :: sidebar"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol th:replace="admin/adminlayout :: breadcrumb('products','Products')"></ol>
            <div>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-object-group"></i>
                        Products
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product:${products}">
                                    <td><a th:text="${product.title}" th:href="@{/admin/product/edit/(id=${product.id})}"></a></td>
                                    <td></td>
                                    <td></td>
                                    <td><a th:href="@{/admin/product/delete/(id=${product.id})}"><i class="fas fa-trash"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
<div> <a class="btn btn-success text-white" th:href="@{/admin/product/edit/}">Produkt hinzufügen</a></div>

                </div>
            </div>
        </div>
    </div>
    <footer th:replace="admin/adminlayout :: footer"></footer>
</div>
<a th:replace="admin/adminlayout :: scrolltotop"></a>
<div th:replace="admin/adminlayout :: js"></div>

</body>
</html>