<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="admin/adminlayout :: head"></head>

<body id="page-top">
<nav th:replace="admin/adminlayout :: header"></nav>
<div id="wrapper">
    <div th:replace="admin/adminlayout :: sidebar"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol th:replace="admin/adminlayout :: breadcrumb('products','Products')"></ol>
            <div>


                <a class="btn btn-success text-white btn-lg" th:href="@{/admin/product/edit/}">Produkt hinzufügen
                    <i class="fa fa-plus"></i></a>
                <div>&nbsp;</div>


                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Titel</th>

                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product:${products}">
                            <td><a th:href="@{/admin/product/edit/(id=${product.id})}">
                                <span th:text="${product.title}"></span>
                                <i class="far fa-edit"></i>
                            </a></td>

                            <td><a th:href="@{/admin/product/delete/(id=${product.id})}">
                                <button class="btn btn-danger"
                                        onclick="return confirm('Sind Sie sicher?')">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
<footer th:replace="admin/adminlayout :: footer"></footer>
</div>
<a th:replace="admin/adminlayout :: scrolltotop"></a>
<div th:replace="admin/adminlayout :: js"></div>

</body>
</html>