
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="admin/adminlayout :: head"></head>

<body id="page-top">
<nav th:replace="admin/adminlayout :: header"></nav>
<div id="wrapper">
    <div th:replace="admin/adminlayout :: sidebar"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol th:replace="admin/adminlayout :: breadcrumb('products','Products')"></ol>
            <form class="form-horizontal" method="post" th:object="${self}" action="#" th:action="@{/admin/product/update/}">
                <form>
                    <input th:if="${self.id != null}" th:field="*{id}" type="hidden" class="form-control" id="id" />
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="title"  >
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" th:field="*{description}" id="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </form>
        </div>
    </div>
    <footer th:replace="admin/adminlayout :: footer"></footer>
</div>
<a th:replace="admin/adminlayout :: scrolltotop"></a>
<div th:replace="admin/adminlayout :: js"></div>

</body>
</html>