<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: head"></head>
<body>


<div th:replace="layout :: header"></div>

<form class="form-horizontal" method="post" th:object="${self}" action="#" th:action="@{/admin/product/update/}">

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <input th:field="*{title}" type="text" class="form-control" id="title" placeholder="Titel"/>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        <input th:field="*{description}" type="text" class="form-control" id="description"
                               placeholder="Beschreibung"/>
                    </h1>

                    <input type="submit" class="btn btn-lg btn-block btn-outline-primary" value="Speichern"/>
                </div>
            </div>
        </div>
        <div th:replace="layout :: footer"></div>
    </div>
</form>


</body>
</html>