<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Not Found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{~/css/main.css}"/>
</head>
<body class="login-page">

<div th:replace="layout :: nav"></div>

<div class="container margin-top-20">
    <div class="text-center">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 alert alert-danger" style="margin-top:136px;">

                <h3>Sorry, this page could not be found for this service.</h3><br/>
                You can go back to the starting page <a th:href="@{/}"> here</a> or via the navigation bar at the top of
                the page

            </div>
            <div class="col-md-3">

            </div>

        </div>
    </div>
</div>
</body>
</html>