<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: head"></head>
<body>

<div th:replace="layout :: header"></div>


<div class="container">


        <div id="productCarousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#productCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div th:each="product,i:${products}" class="carousel-item"
                     th:classappend="${i.index == 0} ?  active : ''">

                    <img width="100%" th:if="${product.image}" th:src="${product.image.linkM}">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 th:text="${product.title}"></h5>
                        <p th:utext="${product.description}"></p>
                        <a th:text="${product.title}+' anpassen'" class="btn btn-lg btn-outline-primary"
                           th:href="@{'/' + ${product.titleUrlFriendly}}"></a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>


</div>


<div th:replace="layout :: footer"></div>
<div th:replace="layout :: footer-js"></div>

</body>
</html>