<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <title>Produktkonfigurator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<!-- Header-->
<div th:fragment="header"
     class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Company name</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>


<!-- Footer -->


<footer th:fragment="footer" class="px-3 py-3 pt-4 my-md-5 pt-md-5 pb-md-4 mx-auto border-top">
    <div class="row">
        <div class="col-12 col-md">
<img th:src="@{/img/logo_klein.png}">
        </div>
        <div class="col-6 col-md">
            <h5>ÜBER UNS</h5>
            Wir sind ein Meisterbetrieb in Zell-Unterharmersbach mit 20-jähriger Erfahrung und mit einem jungen dynamischen Team. Unsere Kunden liegen uns außerordentlich am Herzen und wir führen sämtliche Arbeiten mit großer Sorgfalt und Leidenschaft aus.

        </div>
        <div class="col-6 col-md">
            <h5> HOLZBAU LEHMANN</h5>
            Gottfried Lehmann
            Zimmermeister

            Hochstahl 1b (Am Bahnhöfle)
            D-77736 Zell-Unterharmersbach
            Telefon: 07835 / 540399 - 0
            Mobil: 0172 / 7221234
            Telefax: 07835 / 540399 - 99
            E-Mail: info@holzbau-lehmann.com
        </div>

    </div>
</footer>

<div  th:fragment="footer-js">
    <!-- Bootstrap core JavaScript
================================================== -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap-slider/10.0.2/bootstrap-slider.js}"></script>

    <script th:src="@{/js/main.js}"></script>

</div>

</body>
</html>